<ul class="nav2">
    <li><a>TEXT01</a></li>
    <li><a>TEXT02</a></li>
    <li><a>TEXT03</a></li>
    <li><a>TEXT04</a></li>
    <li><a>TEXT05</a></li>
    <li><a>TEXT06</a></li>
    <li><a>TEXT07</a></li>
  </ul>